<!DOCTYPE HTML>
<html>
	<head>
		<title>Magico Coding</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
        <link rel="icon" href="./static/favicon.ico">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>Magico Coding</h1> 
							<p>Portfolio belongs to coder: Marko Marciano<a href="https://www.linkedin.com/in/marko-marciano-966baa27b/">@MarkoLinkedIn</a></p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="./static/images/fotka.jpg" alt="" /></span>
						</div>
					</section>

				<!-- Section -->
					<section id="first">
						<header>
							<h2>From Professional Photographer And Graphic Designer To Programmer</h2>
						</header>
						<div class="content">
							<p><strong>I had been allways good with computers.</strong> As a professional photographer I did all my software and hardware related business by myself. 
								<p><b>✨In the world of photo editing</b>, I've found joy in the subtle art of enhancing what's already there. With <b>Adobe Photoshop</b>, I gently refine photos to highlight the genuine beauty that exists in every frame.</p> 
								<p>🎬 <b>Using Sony Vegas Pro</b>, I stitched together moments to craft videos that evoke emotion and tell a story.</p>
								<p>"At the end of the day, my true passion has always resided in software and computer-related tasks. <b>Becoming a 💻 programmer 🤖 </b>felt like the most natural and right thing for me to do. This genuine enthusiasm propels my commitment to delivering excellence in every project I undertake."</p>
							<span class="image main"><img src="./static/images/edit.png" alt="" /></span>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>My Projects</h2>
						</header>
						<div class="content">
							<p><strong>Showcase</strong> of some of my <i class="fab fa-python"></i>Python projects:</p>
							<ul class="feature-icons">
								<li class="icon solid fa-laptop"><a href="https://www.youtube.com/watch?v=Qjcza9EMXxE&ab_channel=MagicoCoding">LIVE: CPU, RAM and Internet Speed Monitoring System</a></li>
								<li class="icon solid fa-signal"><a href="https://www.youtube.com/watch?v=06ajGF1dLk4&ab_channel=MagicoCoding">Web-Based Data Analytics Software</a></li>
								<li class="icon solid fa-cog"><a href="https://www.youtube.com/watch?v=RGnQTtPRMxc&ab_channel=MagicoCoding">Gesture Volume Control Software</a></li>
								<li class="icon solid fa-flask">Personal Portfolio Website with Flask</li>
       					    </ul>
							</ul>
							<p>I have created over 40 various projects by now, but the most interesting ones you can explore by clicking on the projects above<i class="fas fa-arrow-up"></i><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-up"></i></p>
							<p>Or you can visit my <i class="fab fa-linkedin"></i><a rel="LinkedIn page" href="https://www.linkedin.com/in/marko-marciano-966baa27b/">LinkedIn</a> // <a rel="Github" href="https://github.com/Markomanis"><i class="fab fa-github"></i>GitHub</a></p>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2><i class="fab fa-python"></i>Python and friends</h2>
						</header>
						<div class="content">
							<p><i class="fab fa-python"></i><strong>Python</strong> is my primary programming language but I have worked with <i class="fab fa-js"></i><strong>JavaScript</strong> and <i class="fas fa-code"></i><strong>C</strong> aswell</p>

							<!-- Section -->
								<section>
									<header>
										<h3><i class="fas fa-shield-alt"></i>Cyber Security</h3>
										<p>First 2 years I have been working in <i class="fas fa-shield-alt"></i>Cyber Security indrustry, but at the moment I am working in <i class="fab fa-python"></i>Python Software Development</p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="https://www.linkedin.com/in/marko-marciano-966baa27b/" class="landscape"><img src="./static/images/cyber.jpg" alt="" /></a>
										</div>
									</div>
								</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Get in touch</h2>
						</header>
						<div class="content">
							<p><strong>Feel free</strong> to contact me via this form or manually.</p>
							<form action="submit_form" method="post">
								<div class="fields">
									<div class="field half">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" class="button primary" /></li>
								</ul>
							</form>
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a>magicocoding@gmail.com</a>
								</li>
								<li>
									<h3>Phone</h3>
									<a>+421 905 946 539</a>
								</li>
								<li>
									<h3>Address</h3>
									<span>Košice, Staré Mesto</span>
								</li>
								<li>
									<h3>Elsewhere</h3>
									<ul class="icons"></ul>
										<li><a href="https://www.linkedin.com/in/marko-marciano-966baa27b/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
										<li><a href="https://github.com/Markomanis" class="fab fa-github"><span class="label"></span></a></li>
									</ul>
								</li>
							</ul>
						</footer>
					</section>
			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    // Use JavaScript to scroll to the "Get in touch" section
                    var getInTouchSection = document.getElementById('get-in-touch');
                    if (getInTouchSection) {
                        getInTouchSection.scrollIntoView({ behavior: 'smooth' });
                    }
                });
            </script>
	</body>
</html>
